.footer {
  padding: 100px 0;
  background-color: rgb(53, 53, 53);
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.inline-list > li {
  display: inline-block;
  padding: 0 20px;s
}

.inline-list p {
  text-align: center;
  color: gray;
}

.fa-brands {
 color:rgb(9, 156, 95)
}
